<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
</head>
<body class="d-flex flex-column">

    @if (IsSectionDefined("header"))
    {
        @RenderSection("header")
    }
    else
    {
        <partial name="_Header" />
        <breadcrumb></breadcrumb>
    }


    <div id="page-content">
        @RenderBody()
    </div>

    @if (IsSectionDefined("footer"))
    {
        @RenderSection("footer")
    }
    else
    {
        <partial name="_Footer" />
    }

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/popper.js/umd/popper.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

</body>
</html>
